.cajaDeProductos {
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 5%;
  width: 350px;
  height: 425px;
  text-align: center;
  display: inline;
  padding-top: 25px;
  margin: auto;
} 


  